*{
	padding: 0px;
	margin: 0px;
}

body{
	background: url(../img/bgfundo.jpg);
	font-family: Arial, verdana, georgia;
	font-size: 14px;
	color: #000000;
}

div{
	display: table;
	width: 100%;
}

/*Estrutura do Layout*/
.container{
	display: block;
	width: 100%;
	max-width:940px;
	margin-left: auto;
	margin-right: auto;
}

.container .row{
	display: table;
	width: 100%;
}

.coluna_logomarca{
	width: 270px;
	float: left;
	margin-top: 15px;
}

.coluna_menu{
	width: 647px;
	float: right;
}

/*Definições de Menu*/
.container_menu{
	background: url(../img/bg_menu.jpg) top repeat-x;
	box-shadow: 5px 5px 5px black;
	-webkit-box-shadow: 5px 5px 5px black;
	-moz-box-shadow: 5px 5px 5px black;
	-o-box-shadow: 5px 5px 5px black;
	margin-top: 15px;	
	display: table;
	width: 100%;
}

.container_menu a{
	text-decoration: none;
	display: block;
	float: left;
	padding: 16px 20px;
	color: black;
	border-radius: 
	transition: background 0.4s ease-out 0.2s,
				color 0.4s ease-out 0.2s;
	-webkit-transition: background 0.4s ease-out 0.2s,
				color 0.4s ease-out 0.2s;
	-moz-transition: background 0.4s ease-out 0.2s,
				color 0.4s ease-out 0.2s;
	-o-transition: background 0.4s ease-out 0.2s,
				color 0.4s ease-out 0.2s;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}

.container_menu a:hover{
	color: white;
	background: #b78714;
}


/*Definições do Slider*/
#containerSlider{
	width: 925px;
	height: 295px;
	overflow: hidden; /*o que exceder esse tamanho ele esconde*/
	box-shadow: 1px 1px 8px black, -1px -1px 8px black;
	-webkit-box-shadow: 1px 1px 8px black, -1px -1px 8px black;
	-moz-box-shadow: 1px 1px 8px black, -1px -1px 8px black;
	-o-box-shadow: 1px 1px 8px black, -1px -1px 8px black;
	margin-left: auto; 
	margin-right: auto;
}

/*apenas o primeiro item possui esse margin-left*/
.container_menu a:first-child{
	margin-left: 3px;
}

/*Classes de Uso Geral*/
.bordaArredondada{
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
}

/*Espaçamento Inferior*/
.ei{
	margin-bottom: 22px;
}