.elementoUl{
	float: left;
	position: absolute;
}

.box_list{
	text-transform: uppercase;
	padding: 10px;
	text-align: center;
	background: black;
	font-family: arial;
	font-size: 10px;
	width: 200px;
	margin-bottom: 2px;
}	

.elementoUl ul{
	height: 200px;
}	

.elementoUl li{
	display: inline;
}	

.elementoUl li a{
	text-decoration: none;
	color: white;
}	

.box_list:hover{
	background: blue;
}