.lista div{
	text-transform: uppercase;
}

.lista div a{
	text-decoration: none;
	
	background: gray;
	color: white;
	padding: 4px;
}

.lista div a:hover{
	text-decoration: none;
	background: black;
	color: white;
}